<div class="flex flex-wrap justify-center"> 
    <div class="items-center flex flex-wrap mt-8">
        <ul class="flex flex-wrap justify-between gap-y-4" *ngIf="getAllTeams$ | async as teams">
            <li class=" pr-4 pt-4" *ngFor="let team of teams">
                <a [routerLink]="['/team', team.teamID]">
                    <div class="rounded-xl shadow-xl bg-gray-100">
                        <!--img class="rounded-t-xl w-full h-36 object-cover" src="https://m.media-amazon.com/images/I/71MYezvnohL._AC_SL1500_.jpg" alt="{{ team.teamName }}"/-->
                        <div class="flex flex-col p-7">
                            <h2 class="text-xl font-bold truncate mt-1">{{ team.teamName }}</h2>
                            <p class="text-base text-gray-600 mt-1">Visa medlemmar(?)</p>
                            <div class="flex flex-row mt-5 item-center justify-start">
                                <div class="rounded-2xl mr-2"></div>
                                <div class="font-bold text-sm mr-2">Visa om laget är aktivt(?)</div>
                                <div class="text-gray-600 text-sm">Poäng?</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>



