<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="admin/admin.component.css">
    <link rel="stylesheet" href="https://material.angular.io/components/button/overview#button-overview">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
<h1>Admin Page</h1>
<div class="sidebar">
  <button mat-flat-button (click)="home()" class="btnHome">Home</button>
</div>

<div class="content">
<div class="addTeams">
  <h1>Add Teams</h1>
  <button mat-flat-button (click)="addTeams()" class="addTeamsBtn">Add Team</button>
</div>

<div class="addUsersToTeams">
  <h1>Add Users to Teams</h1>
  <button mat-flat-button (click)="addUsersToTeams()" class="addUsersToTeamsBtn">Add User</button>
</div>

<mat-form-field>
    <mat-label><h3>Select team</h3></mat-label>
    <mat-form-field>
      <mat-label>Teams</mat-label>
      <select matNativeControl required>
        <option value="Team1">TeamOne</option>
        <option value="Team2">TeamRed</option>
        <option value="Team3">TeamBlue</option>
        <option value="Team4">TeamGreen</option>
      </select>
    </mat-form-field>
    <br><br>
  </mat-form-field>
  <mat-label>Points</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field><br><br>
  <mat-form-field>
    <mat-label><h3>Textarea for description (optional)</h3></mat-label>
    <textarea matInput></textarea>
  </mat-form-field><br><br>

<button mat-flat-button (click)="updateScore()" class="btnUpdateScore">Update Score</button>
<button mat-flat-button (click)="deleteScore()" class="btnDeleteScore">Delete Score</button>
</div>
</div>
<div class="footer"></div>


<script src="admin.component.ts"></script>
</body>
</html>