.password-container {
    position: relative;
    width: 100%;
}

.password-input {
width: 100%;
padding: 8px;
margin-bottom: 1rem;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.toggle-password {
position: absolute;
right: 10px;
top: 35%;
transform: translateY(-50%);
cursor: pointer;
}

.hidden-icon {
    background-image: url(../../../../assets/icons/vecteezy_preview-show-interface-icon_6086018.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
}