<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm text-center mt-[-20rem]">
        <div *ngIf="!success">
            <h2 class="text-2xl mb-4 text-mainColor font-bold">Återställ Lösenord</h2>
            <p class="mb-4 mb-8" *ngIf="!passwordMismatch && !unknownError && !timedOut">Ange ditt nya lösenord</p>
            <p class="mt-4 mb-8" *ngIf="passwordMismatch">Lösenorden matchar inte</p>
            <p class="mt-4 mb-8" *ngIf="unknownError">Det blev något fel, kontakta administratör</p>
            <p class="mt-4 mb-8" *ngIf="timedOut">Länken har gått ut</p>
        </div>
        <div *ngIf="success">
            <h2 class="text-2xl mb-4 text-mainColor font-bold">Success!</h2>
            <p class="mb-4">Du kan nu logga in med ditt nya lösenord</p>
        </div>
        <form  #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
            <div class="password-container">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Nytt lösenord" [(ngModel)]="newPassword" name="newPassword" required minlength="6" class="password-input"/>
                <span class="toggle-password hidden-icon" (mousedown)="showPassword = true" (mouseup)="showPassword = false" (mouseleave)="showPassword = false"></span>
            </div>
            <div class="password-container">
                <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Bekräfta nytt lösenord" [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="6" class="password-input"/>
                <span class="toggle-password hidden-icon" (mousedown)="showConfirmPassword = true" (mouseup)="showConfirmPassword = false" (mouseleave)="showConfirmPassword = false"></span>
            </div>
            <button *ngIf="!success && !unknownError" type="submit" class="w-full font-bold bg-mainColor text-white p-2 rounded-md hover:bg-mainColorHover">Återställ lösenord</button>
            <div class="bg-green-600 w-full flex justify-center rounded-md" *ngIf="success && !unknownError">
                <p class="text-white1 font-bold py-2 px-4">Ditt lösenord är nu uppdaterat</p>
            </div>
            <div class="bg-red-600 w-full flex justify-center rounded-md" *ngIf="!success && unknownError">
                <p class="text-white1 font-bold py-2 px-4">Kontrollera din input</p>
            </div>
        </form>
    </div>
</div>
