<div class="flex flex-wrap justify-center space-x-6 items-center w-full pt-6 bg-[#e9ecef] ;">


  <!-- Skapa ny tävling -->
   <h1 class="font-digital text-black1 font-semibold text-center text-4xl  w-full my-6" id="CompetitionAdmin">Tävling</h1>
  <form
  class="w-full max-w-lg bg-white  mb-4 rounded-lg shadow-lg overflow-hidden"
    (ngSubmit)="createScoreboard()"
    #scoreboardForm="ngForm"
  >
    <h2 class="font-digital text-white1 font-semibold text-center bg-red5 text-xl  w-full mb-5  p-4" >
      Skapa en ny tävling
    </h2>

    <!-- Tävlingsnamn -->
    <div class="mb-4 mx-6 ">
      <label class="block text-gray-700 font-semibold mb-1" for="name"
        >Tävlingsnamn:</label
      >
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="scoreboardData.name"
        required
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <!-- Startdatum -->
    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="startedAt"
        >Startdatum:</label
      >
      <input
        type="datetime-local"
        id="startedAt"
        name="startedAt"
        [(ngModel)]="scoreboardData.startedAt"
        required
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <!-- Slutdatum -->
    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="endedAt" >Slutdatum:</label>
      <input
        type="datetime-local"
        id="endedAt"
        name="endedAt"
        [(ngModel)]="scoreboardData.endedAt"
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div> 

      
<!-- Checkbox -->
    <div class="inline-grid grid-cols-2 gap-4 pl-5">
      <input
        type="checkbox"
        id="editActiveCheck"
        name="activeCheck"
        [(ngModel)]="scoreboardData.active"
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"

      />
      <label for="editActiveCheck" class="block text-gray-700 font-semibold mb-1">Aktiv</label>
    </div>
    
<!-- Beskrivning -->
    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="description"
        >Beskrivning:</label
      >
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="scoreboardData.description"
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <!-- Skapa tävling-knapp -->
    <button
      type="submit"
      [disabled]="scoreboardForm.invalid"
      class="text-xl  text-white font-bold m-5 p-3 rounded-lg  bg-red5 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-900;"
    >
      Skapa tävling
    </button>
  </form>


  <!-- Redigera tävling -->
  <form
  class="w-full max-w-lg bg-white  mb-4 rounded-lg shadow-lg overflow-hidden"
      (ngSubmit)="updateScoreboard()"
      #editForm="ngForm"
    >
    <h2 class="font-digital text-white1 font-semibold text-center bg-red5 text-xl  w-full mb-5  p-4">
        Redigera tävling
    </h2>
    <!--Välj en tävling -->
    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="editName">
        Välj en tävling:
      </label>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        (input)="filterScoreboards()"
        (focus)="showDropdown = true"
        placeholder="Sök tävling..."
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />

      <!-- Dropdown-lista -->
      <ul
        *ngIf="showDropdown && filteredScoreboards.length > 0"
        class="md:z-10 md:w-full bg-white border rounded shadow-md h-[370px] overflow-y-auto"
      >
        <li
          *ngFor="let scoreboard of filteredScoreboards"
          (click)="selectScoreboard(scoreboard)"
          class="p-2 hover:bg-gray-200 cursor-pointer"
        >
          {{ scoreboard.name }}
        </li>
      </ul>
    </div>

    <!-- Ändra namnet -->
    <div class="mb-4 mx-6" *ngIf="selectedScoreboard && selectedScoreboard.   scoreboardId">
      <label class="block text-gray-700 font-semibold mb-1" for="editName">
        Nytt tävlingsnamn:
      </label>
      <input
        type="text"
        id="editName"
        name="editName"
        [(ngModel)]="selectedScoreboard.name"
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>


    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="editStartedAt">
        Startdatum:
      </label>
      <input
        type="datetime-local"
        id="editStartedAt"
        name="startedAt"
        [(ngModel)]="selectedScoreboard.startedAt"
        required
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="editEndedAt">
        Slutdatum:
      </label>
      <input
        type="datetime-local"
        id="editEndedAt"
        name="endedAt"
        [(ngModel)]="selectedScoreboard.endedAt"
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <div class="inline-grid grid-cols-2 gap-4 pl-5">
      <input
        type="checkbox"
        id="editActive"
        name="active"
        [(ngModel)]="selectedScoreboard.active"
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
      <label class="block text-gray-700 font-semibold mb-1" for="editActive">Aktiv</label>
    </div>

    <div class="mb-4 mx-6">
      <label class="block text-gray-700 font-semibold mb-1" for="description">
        Beskrivning:
      </label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="selectedScoreboard.description" 
        class="block border border-gray-700 p-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <div class="flex justify-between">
      <button
        type="submit"
        [disabled]="editForm.invalid"
        class="text-xl  text-white font-bold m-5 p-3 rounded-lg  bg-red5 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-900;"

      >
        Uppdatera tävling
      </button>

      <button
      class="text-xl  text-white font-bold m-5 p-3 rounded-lg  bg-red5 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-900;"
       (click)="deleteScoreboard(selectedScoreboard.scoreboardId)">
        Ta bort tävlingen
      </button>
    </div>
  </form>

</div>
