<div class="flex flex-wrap justify-center space-x-6 items-center w-full pt-6 bg-[#e9ecef] ;">


  <!-- Skapa ny tävling -->
   <h1 id="CompetitionAdmin">Tävling</h1>
  <form
    (ngSubmit)="createScoreboard()"
    #scoreboardForm="ngForm"
  >
    <h2>
      Skapa en ny tävling
    </h2>

    <!-- Tävlingsnamn -->
    <div class="forminput">
      <label for="name"
        >Tävlingsnamn:</label
      >
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="scoreboardData.name"
        required
      />
    </div>

    <!-- Startdatum -->
    <div class="forminput">
      <label for="startedAt"
        >Startdatum:</label
      >
      <input
        type="datetime-local"
        id="startedAt"
        name="startedAt"
        [(ngModel)]="scoreboardData.startedAt"
        required
      />
    </div>

    <!-- Slutdatum -->
    <div class="forminput">
      <label for="endedAt" class="">Slutdatum:</label>
      <input
        type="datetime-local"
        id="endedAt"
        name="endedAt"
        [(ngModel)]="scoreboardData.endedAt"
      />
    </div> 

      
      <!-- Aktiv slide -->
    <div class="checkbox">
      <input
        type="checkbox"
        id="editActiveCheck"
        name="activeCheck"
        [(ngModel)]="scoreboardData.active"

      />
      <label for="editActiveCheck" class="">Aktiv</label>
    </div>
    

    <div class="forminput">
      <label for="name"
        >Beskrivning:</label
      >
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="scoreboardData.description"
      />
    </div>

    <!-- Skapa tävling-knapp -->
    <button
      type="submit"
      [disabled]="scoreboardForm.invalid"
      class=""
    >
      Skapa tävling
    </button>
  </form>


  <!-- Redigera tävling -->
  <form
      (ngSubmit)="updateScoreboard()"
      #editForm="ngForm"
    >
    <h2 class="">
        Redigera tävling
    </h2>
    <!-- 🔹 1. Välj en tävling med hjälp av namn -->
    <div class="forminput">
      <label for="editName">
        Välj en tävling:
      </label>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        (input)="filterScoreboards()"
        (focus)="showDropdown = true"
        placeholder="Sök tävling..."
      />

      <!-- 🔹 Dropdown-lista -->
      <ul
        *ngIf="showDropdown && filteredScoreboards.length > 0"
      >
        <li
          *ngFor="let scoreboard of filteredScoreboards"
          (click)="selectScoreboard(scoreboard)"
        >
          {{ scoreboard.name }}
        </li>
      </ul>
    </div>

    <!-- 🔹 2. Om man vill, ändra namnet -->
    <div class="forminput" *ngIf="selectedScoreboard && selectedScoreboard.   scoreboardId">
      <label for="editName">
        Nytt tävlingsnamn:
      </label>
      <input
        type="text"
        id="editName"
        name="editName"
        [(ngModel)]="selectedScoreboard.name"
      />
    </div>


    <div class="forminput">
      <label for="editStartedAt">
        Startdatum:
      </label>
      <input
        type="datetime-local"
        id="editStartedAt"
        name="startedAt"
        [(ngModel)]="selectedScoreboard.startedAt"
        required
      />
    </div>

    <div class="forminput">
      <label for="editEndedAt">
        Slutdatum:
      </label>
      <input
        type="datetime-local"
        id="editEndedAt"
        name="endedAt"
        [(ngModel)]="selectedScoreboard.endedAt"
      />
    </div>

    <div class="checkbox">
      <input
        type="checkbox"
        id="editActive"
        name="active"
        [(ngModel)]="selectedScoreboard.active"
        class=""
      />
      <label for="editActive">Aktiv</label>
    </div>

    <div class="forminput">
      <label for="description">
        Beskrivning:
      </label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="selectedScoreboard.description" 
        class=""
      />
    </div>

    <div class="flex justify-between">
      <button
        type="submit"
        [disabled]="editForm.invalid"
        class="button2"

      >
        Uppdatera tävling
      </button>

      <button
       (click)="deleteScoreboard(selectedScoreboard.scoreboardId)">
        Ta bort tävlingen
      </button>
    </div>
  </form>

</div>
