@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

:root {
 /* Färger */
 --red1: rgb(215, 0, 0);   /* #D70000 */
 --red2: rgb(255, 0, 0);   /* #FF0000 */
 --red3: rgb(175, 0, 0);   /* #AF0000 */
 --red4: rgb(135, 0, 0);   /* #870000 */
 --red5: rgb(95, 0, 0);    /* #5F0000 */
 --red6: rgb(55, 0, 0);    /* #370000 */

 --grey1: rgb(210, 210, 210); /* #D2D2D2 */
 --grey2: rgb(160, 160, 160); /* #A0A0A0 */
 --grey3: rgb(120, 120, 120); /* #787878 */
 --grey4: rgb(80, 80, 80);    /* #505050 */

 --black1: rgb(0, 0, 0);      /* #000000 */
 --black2: cmyk(40%, 60%, 0%, 100%); /* Special CMYK-färg för tryck */
 --white1: rgb(255, 255, 255);  /* #FFFFFF */

 /* Typografi */
 --font-digital: "Open Sans", sans-serif;  /* Digital produktion (webb, sociala medier) */
 --font-print: "Whitney", sans-serif;      /* Formgivet material för print */
 --font-body: "Mercury", serif;            /* Brödtext i rapporter/grafisk form */
 --font-office: "Arial", sans-serif;       /* Office-program som PPT, Outlook */
 --font-longtext: "Georgia", serif;        /* Brödtext för långa texter i Office */
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}
root {
  font-size: 10rem;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
:where(body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
}
html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
article > * + * {
  margin-top: 1em;
}
progress[value],
progress::-webkit-progress-bar,
progress::-moz-progress-bar {
  width: 100%;
  border: none;
  appearance: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
select {
  border: none;
}
select:focus {
  outline-offset: 0;
  outline: none;
}
input {
  border: none;
}
input:focus {
  outline: 0;
}
button {
  width: auto;
  padding: 0;
  border: none;
  margin: 0;
  background: transparent;
  outline: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: inherit;
  overflow: visible;
  cursor: pointer;
}
option,
fieldset {
  padding: 0;
  border: none;
  margin: 0;
}
legend {
  padding: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
