@keyframes blink {
    0%, 100% {
      background-color: #b30000;
    }
    50% {
      background-color: #ffffff; 
    }
}

.input-error {
animation: blink 1s ease-in-out 1; 
border-color: #b30000; 
background-color: #fecaca; 
}
