
/server/.vs
server/obj/server.csproj.nuget.g.props
server/obj/server.csproj.nuget.dgspec.json
server/obj/project.nuget.cache
server/obj/project.assets.json
server/obj/Debug/net8.0/server.GeneratedMSBuildEditorConfig.editorconfig
server/obj/Debug/net8.0/server.csproj.AssemblyReference.cache
server/obj/Debug/net8.0/server.assets.cache
server/obj/Debug/net8.0/server.AssemblyInfoInputs.cache
server/obj/Debug/net8.0/server.AssemblyInfo.cs
