# Ignore Visual Studio specific files
.vs/
*.vsidx
*.vscode/

# Ignore Rider files
.idea/

# Ignore build output
bin/
obj/
server/Debug/
server/Release/
*.exe
*.dll
*.pdb
*.appx
*.appxsym
*.user
*.lock.json
*.cache
*.log
*.editorconfig

# Ignore package dependencies
node_modules/
client/node_modules/
packages/
.nuget/

# Ignore NuGet packages
*.nupkg
project.lock.json
project.nuget.cache
project.assets.json
artifacts/

# Ignore User-specific settings
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Resharper files
_ReSharper*/
*.DotSettings.user

# Ignore Web related files
wwwroot/lib/
wwwroot/node_modules/
dist/
client/dist/

# Ignore Azure and Docker files
.publishsettings
.secrets/
.env
docker-compose.override.yml

# Ignore database files
*.mdf
*.ldf

# Ignore Swagger UI (if used)
swagger/

# Ignore deployment and build artifacts
server/*.nuget.g.props
server/project.assets.json
server/project.nuget.cache
server/*.editorconfig
server/*.csproj.FileListAbsolute.txt
server/*.csproj.AssemblyReference.cache
server/*.csproj.CoreCompileInputs.cache
server/*.GeneratedMSBuildEditorConfig.editorconfig
server/*.g.runtimeconfig.cache
server/*.dll
server/*.pdb
server/*.sourcelink.json
server/*.dgspec.json
server/obj/
