<div class="flex flex-wrap justify-center fin-bakgrund min-h-screen"> 
    <div class="w-3/4 mt-4">
        <div class="w-full flex justify-between">
            <h2 class="bg-h2Color text-white1 text-center text-3xl p-7 font-semibold w-1/3">{{ teamName }}</h2>
            <button class="bg-green-600 hover:bg-green-800 text-white font-bold px-24 py-2 rounded-lg" (click)="joinTeam(userID, teamID)" *ngIf="!isInTeam">Gå med i detta lag</button>
        </div>
        <div class="w-full grid grid-cols-2 gap-4 mt-4">
            <div class="">
                <ng-container *ngIf="usersList.length > 0; else noUsersList">
                    <div class="bg-white/20 backdrop-blur-lg p-4 rounded-lg shadow-lg border border-gray-300 mt-4">
                    <h3 class="text-2xl font-bold text-white1 p-6 rounded-md border border-black/50 shadow-md text-center bg-gradient-to-br from-red-500 to-blue-500 [text-shadow:_0_4px_4px_rgb(0_0_0_/_0.8)]">Medlemmar:</h3>
                        <ul class="grid gap-2 mt-4">
                            <li class="bg-gray-100 border border-black p-1 px-3 rounded-md shadow-xl shadow-blue-400/50" *ngFor="let user of usersList">
                                <a class="text-red6 h-4 text-md font-bold" [routerLink]="['/user/', user.userId]">
                                    <p>Användarnamn: {{ user.username }}</p>
                                    <p>Namn: {{ user.firstname ? user.firstname : '-' }} {{ user.lastname ? user.lastname : '' }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-template #noUsersList>
                    <div class="bg-white/20 backdrop-blur-lg p-4 rounded-lg shadow-lg border border-gray-300 mt-4">
                        <h4 class="text-2xl font-bold text-white1 p-6 rounded-md border border-black/50 shadow-md text-center bg-gradient-to-br from-red-500 to-blue-500 [text-shadow:_0_4px_4px_rgb(0_0_0_/_0.8)]">Inga medlemmar tillgängliga.</h4>
                    </div>
                </ng-template>
            </div>

            <div class="">
                <ng-container *ngIf="scoreboardsList.length > 0; else noScoreboards">
                    <div class="bg-white/20 backdrop-blur-lg p-4 rounded-lg shadow-lg border border-gray-300 mt-4">
                    <h3 class="text-2xl font-bold text-white1 p-6 rounded-md border border-black/50 shadow-md text-center bg-gradient-to-br from-red-500 to-blue-500 [text-shadow:_0_4px_4px_rgb(0_0_0_/_0.8)]">Poängtavlor:</h3>
                        <ul class="grid gap-4 mt-4">
                            <li *ngFor="let sb of scoreboardsList">
                                <div>
                                    <div class="h-16 bg-red-700 rounded-tr-lg rounded-tl-lg flex items-center justify-center px-4 hover:bg-red4 cursor-pointer" [routerLink]="['/scoreboard/', sb.scoreboardId]">
                                        <h3 class="font-digital text-lg text-white1">{{ sb.name }}: {{ sb.startedAt | date:'shortDate' }} - {{ sb.endedAt | date:'shortDate'}}</h3>
                                    </div>
                                    <div class="h-24 bg-white1 p-4 rounded-br-lg rounded-bl-lg">
                                        <p class="text-red6 h-8 text-md font-bold flex justify-center items-center">{{ sb.description}}</p>
                                        <p class="text-red6 h-8 text-lg font-bold flex justify-center items-center">Poäng: {{ sb.points }} </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-template #noScoreboards>
                    <div class="bg-white/20 backdrop-blur-lg p-4 rounded-lg shadow-lg border border-gray-300 mt-4">
                        <h4 class="text-2xl font-bold text-white1 p-6 rounded-md border border-black/50 shadow-md text-center bg-gradient-to-br from-red-500 to-blue-500 [text-shadow:_0_4px_4px_rgb(0_0_0_/_0.8)]">Inga poängtavlor tillgängliga.</h4>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>