/* h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: comic sans ms;
  font-size: 5rem;
  color: rgb(100, 100, 200, 0.8);
}

.admin-view {
  display: flex;
}

.admin-create-scoreboard {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.example-card {
  max-width: 400px;
  background-color: var(--white1);
  margin: 2rem;
  margin-left: 40%;
  box-shadow: black 0px 0px 10px;
} */