h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: comic sans ms;
  font-size: 5rem;
  color: rgb(100, 100, 200, 0.8);
}

.admin-view {
  display: flex;
}

.admin-create-scoreboard {
  display: flex;
  justify-content: center;
  width: 5rem;
}