<div class="flex flex-wrap justify-center bg-blue-600">
  <h2 class="basis-full justify-content">Välkommen till Trafikverkets poängtavla!!</h2>
  <div>
    <ul *ngIf="getAllScoreboards$ | async as scoreboards">
      <mat-card class="shadow-xl" *ngFor="let scoreboard of scoreboards">
        <mat-card-header class="bg-blue-500">
          <mat-card-title>{{ scoreboard.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ scoreboard.startedAt }}</mat-card-content>
        <li>
          (ID: {{ scoreboard.scoreboardId }})
          <strong>{{ scoreboard.name }}</strong>
        </li>
      </mat-card>
    </ul>
  </div>
</div>
