<header class="bg-red1">
  <div class="w-full p-10 flex justify-center items-center">
    <a routerLink="/"><div class="w-12 mr-5"><img src="../../../../assets/icons/TV_logo_symbol_rgb_neg.png" alt="TV-ikon"></div></a>
    <h1 class="text-white1 text-5xl">Trafikverkets Poängtavlor</h1>
  </div>
  <nav class="flex justify-center">
    <a class="w-24 bg-red3 text-white1 p-2 border border-white1 rounded-lg text-center" routerLink="scoreboards-history">Historik</a>
    <button class="w-24 bg-red3 text-white1 p-2 border border-white1 rounded-lg mr-52">Sök</button>
    <button class="p-2 bg-red3 text-white1 border border-white1 rounded-lg ml-52">Registrera användare</button>
    <button class="p-2 bg-red3 text-white1 border border-white1 rounded-lg">Logga in</button>
  </nav>
</header>
