<header class="bg-red1">
  <div class="w-full p-10 flex justify-center items-center">
    <a routerLink="/"><div class="w-12 mr-5"><img src="../../../../assets/icons/TV_logo_symbol_rgb_neg.png" alt="TV-ikon"></div></a>
    <h1 class="text-white1 text-5xl">Trafikverkets Poängtavlor</h1>
  </div>
  <nav class="flex w-full justify-center">
    <div class="flex w-1/2 justify-between">
      <div class="flex justify-end">
        <button class="w-24 p-2 bg-red3 text-white1 border border-white1 rounded-lg"><a routerLink="scoreboards-history">Historik</a></button>
        <button class="w-24 bg-red3 text-white1 p-2 border border-white1 rounded-lg">Sök</button>
      </div>
      <div class="flex justify-end">
        <button class="p-2 bg-red3 text-white1 border border-white1 rounded-lg">Registrera användare</button>
        <button class="p-2 bg-red3 text-white1 border border-white1 rounded-lg">Logga in</button>
      </div>
    </div>
  </nav>
</header>
