<header class="bg-white1">
  <div class="w-full flex justify-center">
    <div class="w-3/4 flex justify-between items-center">
      <a routerLink="/">
        <div class="w-64">
          <img src="https://www.trafikverket.se/contentassets/d8ca1da136844608a07a850a75a7168b/trafikverket-logo.svg" alt="TV-ikon">
        </div>
      </a>
      <div class="flex w-full pl-6">
        <input class="w-full border-l-2 border-t-2 border-b-2 border-red6 px-2" type="text" placeholder="Sök bland poängtavlor">
        <button class="w-24 font-bold p-2 mr-4 bg-white1 text-red6 border-2 border-red6">Sök</button>
        <button class="w-48 font-bold p-2 bg-white1 text-red6 border-2 border-red6" routerLink="team">Lag</button>
        <button class="w-48 font-bold ml-4 p-2 bg-white1 text-red6 border-2 border-red6" routerLink="scoreboards-history">Historik</button>
        <button class="p-2 font-bold ml-4 bg-white1 text-red6 border-2 border-red6" *ngIf="(isAdmin | async) === true" routerLink="/admin">Administrera</button>
        <button class="w-48 font-bold p-2 ml-4 bg-white1 text-red6 border-2 border-red6" (click)="toggleRegisterModal()" *ngIf="(loggedIn | async) === false">Registrera</button>
        <button class="w-48 font-bold p-2 ml-4 bg-white1 text-red6 border-2 border-red6" (click)="toggleLoginModal()" *ngIf="(loggedIn | async) === false">Logga in</button>
        <button class="w-48 font-bold p-2 ml-4 bg-white1 text-red6 border-2 border-red6" (click)="logoutButton()" *ngIf="(loggedIn | async) === true">Logga ut</button>        
      </div>
    </div>
  </div>
</header>
