<ng-container *ngIf="(isAdmin | async) === true; else unauthorized">
  <div class="bg-[#e9ecef]">
    <app-manage-scoreboard
      (scoreboardCreated)="handleScoreboardCreated($event)"
      (scoreboardUpdated)="handleScoreboardUpdated($event)"
    ></app-manage-scoreboard>

    <app-manage-teams
      (teamCreated)="handleTeamCreated($event)"
      (teamDeleted)="handleTeamDeleted($event)"
      (teamUpdated)="handleTeamUpdated($event)"
    >
    </app-manage-teams>

    <div
      class="flex justify-center space-x-7 font-digital text-grey4 font-semibold text-center w-full my-6"
    >
      <!-- Modal för användarhantering -->
      <div
        *ngIf="selectedUser"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
      >
        <div class="bg-white p-6 rounded-lg shadow-lg w-2/6">
          <h2 class="text-xl font-semibold text-gray-800 text-center mb-4">
            Hantera användare
          </h2>

          <p class="text-center text-gray-600 mb-4">
            Vad vill du göra med <strong>{{ selectedUser.username }}</strong
            >?
          </p>

          <div class="flex flex-wrap justify-center gap-4">
            <!-- Om man öppnar via userlistan -->
            <ng-container *ngIf="!openedFromAdmins">
              <button
                (click)="makeAdmin(selectedUser)"
                class="p-2 bg-green-500 text-white rounded-lg hover:bg-green-700 transition"
              >
                Gör till Admin
              </button>

              <button
                (click)="deleteUser(selectedUser)"
                class="p-2 bg-red-500 text-white rounded-lg hover:bg-red-700 transition"
              >
                Ta bort användare
              </button>

              <button
                (click)="goToUserPage(selectedUser)"
                class="p-2 bg-orange-500 text-white rounded-lg hover:bg-red-700 transition"
              >
                Gå till profil
              </button>
            </ng-container>

            <!-- Om man öppnar via admin listan -->
            <ng-container *ngIf="openedFromAdmins">
              <button
                (click)="deleteAdmin(selectedUser)"
                class="p-2 bg-blue-500 text-white rounded-lg hover:bg-red-700 transition"
              >
                Ta bort admin
              </button>
            </ng-container>
          </div>

          <button
            (click)="selectedUser = null"
            class="block mx-auto bg-red1 mt-4 p-2 rounded-lg text-white hover:text-gray-800"
          >
            Stäng
          </button>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <!-- Sök efter admin -->
        <div
          class="flex flex-col items-center mt-20 pr-5 border-r-2 border-dashed border-grey1"
        >
          <h1
            id="searchAdmins"
            class="font-digital text-black1 font-semibold text-center text-4xl w-full"
          >
            Sök efter Admins
          </h1>

          <input
            type="text"
            [(ngModel)]="searchQuery"
            placeholder="Sök admin..."
            class="block border border-gray-700 p-2 my-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
          />

          <!-- Sorteringsdropdown -->
          <select
            [(ngModel)]="sortBy"
            class="border-rounded w-full text-center max-w-md mb-4 bg-red5 border-black1 font-semibold p-2 text-white1 hover:bg-red1 transition"
          >
            <option
              class="font-digital text-white1 font-bold text-center"
              value="name"
            >
              Sortera efter användarnamn A-Ö
            </option>
            <option
              class="font-digital text-white1 font-bold text-center"
              value="nameReversed"
            >
              Sortera efter användarnamn Ö-A
            </option>
          </select>

          <!-- Admin-lista -->
          <ul
            *ngIf="sortedAdmins.length > 0; else noResults"
            class="md:z-10 md:w-full bg-white border divide-y divide-grey1 rounded shadow-md h-[370px] overflow-y-auto"
          >
            <li
              *ngFor="let admin of sortedAdmins"
              class="bg-white p-4 shadow-md hover:bg-blue-100 cursor-pointer"
              (click)="handleAdminClick(admin)"
            >
              <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <div class="shrink-0">
                  <img
                    class="w-9 h-9 rounded-full"
                    src="/assets/icons/logo_vertikal.png"
                    alt="image"
                  />
                </div>
                <div class="flex flex-col items-start truncate">
                  <strong class="text-lg">{{ admin.username }}</strong>
                </div>
              </div>
            </li>
          </ul>

          <ng-template #noResults>
            <p class="text-gray-500">Inga admins hittades.</p>
          </ng-template>
        </div>
        <!-- Sök efter user -->
        <div
          class="flex flex-col items-center mt-20 pr-5 border-r-2 border-dashed border-grey1"
        >
          <h1
            id="searchUser"
            class="font-digital text-black1 font-semibold text-center text-4xl w-full"
          >
            Sök efter Users
          </h1>

          <input
            type="text"
            [(ngModel)]="searchUserQuery"
            placeholder="Sök user..."
            class="block border border-gray-700 p-2 my-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
          />

          <!-- Sorteringsdropdown -->
          <select
            [(ngModel)]="sortBy"
            class="border-rounded w-full text-center max-w-md mb-4 bg-red5 border-black1 font-semibold py-2 px-4 text-white1 hover:bg-red1 transition"
          >
            <option
              class="font-digital text-white1 font-bold text-center"
              value="name"
            >
              Sortera efter användarnamn A-Ö
            </option>
            <option
              class="font-digital text-white1 font-bold text-center"
              value="nameReversed"
            >
              Sortera efter användarnamn Ö-A
            </option>
          </select>

          <ul
            *ngIf="sortedUsers.length > 0; else noResults"
            class="md:z-10 md:w-full bg-white divide-y divide-grey1 border rounded shadow-md h-[370px] overflow-y-auto"
          >
            <li
              *ngFor="let user of sortedUsers"
              class="bg-white p-2 shadow-md hover:bg-blue-100 cursor-pointer"
              (click)="handleUserClick(user)"
            >
              <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <div class="shrink-0">
                  <img
                    class="w-9 h-9 rounded-full"
                    src="/assets/icons/logo_vertikal.png"
                    alt="image"
                  />
                </div>
                <div class="flex flex-col items-start truncate">
                  <strong class="text-lg">{{ user.username }}</strong>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    Email: {{ user.email }}
                  </p>
                </div>
              </div>
            </li>
          </ul>

          <ng-template #noResults>
            <p class="text-gray-500">Inga users hittades.</p>
          </ng-template>
        </div>

        <!-- Sök efter team -->
        <div class="flex flex-col items-center mt-20">
          <h1
            class="font-digital text-black1 font-semibold text-center text-4xl w-full"
          >
            Sök efter Teams
          </h1>

          <input
            type="text"
            [(ngModel)]="searchTeamQuery"
            placeholder="Sök team..."
            class="block border border-gray-700 p-2 my-2 rounded text-grey4 w-full bg-white1 text-base focus:ring-blue-500 focus:border-blue-500"
          />

          <!-- Sorteringsdropdown -->
          <select
            [(ngModel)]="sortBy"
            class="border-rounded w-full text-center max-w-md mb-4 bg-red5 border-black1 font-semibold py-2 px-4 text-white1 hover:bg-red1 transition"
          >
            <option
              class="font-digital text-white1 font-bold text-center"
              value="name"
            >
              Sortera efter lagnamn A-Ö
            </option>

            <option
              class="font-digital text-white1 font-bold text-center"
              value="nameReversed"
            >
              Sortera efter lagnamn Ö-A
            </option>
          </select>

          <ul
            *ngIf="sortedTeam.length > 0; else noResults"
            class="md:z-10 md:w-full bg-white divide-y divide-grey1 border rounded shadow-md h-[370px] overflow-y-auto"
          >
            <li
              *ngFor="let team of sortedTeam"
              class="flex items-center space-x-3 rtl:space-x-reverse bg-white shadow-md hover:bg-blue-100 cursor-pointer md:p-4"
              (click)="goToTeamPage(team)"
            >
              <div class="shrink-0">
                <img
                  class="w-9 h-9 rounded-full"
                  src="/assets/icons/logo_vertikal.png"
                  alt="image"
                />
              </div>

              <div class="flex flex-col items-start truncate">
                <strong class="text-lg">{{ team.teamName }}</strong>
              </div>
            </li>
          </ul>

          <ng-template #noResults>
            <p class="text-gray-500">Inga teams hittades.</p>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- End -->
    <footer class="h-[40px]"></footer>
  </div>
</ng-container>

<ng-template #unauthorized>
  <div
    class="unauthorized-message flex flex-col items-center justify-center h-full text-center p-4 bg-red-100 border border-red-400 text-red-700 rounded"
  >
    <h2 class="text-xl font-bold mb-1 text-center">403 - Obehörig</h2>
    <p class="text-lg">Du har inte behörighet att visa denna sida.</p>
  </div>
</ng-template>
