<!-- Wrapper för att centrera allt -->

<!-- exempel: red1 || bg-red1  -->

<app-add-scoreboard
  (scoreboardCreated)="handleScoreboardCreated($event)"
></app-add-scoreboard>
<app-manage-teams
  (teamCreated)="handleTeamCreated($event)"
  (teamDeleted)="handleTeamDeleted(+$event)"
>
</app-manage-teams>
<div class="flex flex-col items-center w-full mt-80">
  <h2
    class="text-center text-5xl md:text-base mt-70 mb-1 mr-80 pl-96"
  >
    Sök efter Admin
  </h2>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Sök admin..."
    class="border p-2 rounded w-full max-w-md mb-4 text-center bg-white text-black"
  />

  <!-- Sorteringsdropdown -->
  <select
    [(ngModel)]="sortBy"
    class="border-rounded w-full text-center max-w-md mb-4 bg-red5 border-black1 font-semibold py-2 px-4 text-white1 hover:bg-red1 transition"
  >
    <option value="name">Sortera efter namn</option>
    <option value="date">Sortera efter senast aktiv</option>
  </select>

  <!-- Admin-lista -->
  <ul *ngIf="sortedAdmins.length > 0; else noResults">
    <li
      *ngFor="let admin of sortedAdmins"
      class="bg-white border-black1 rounded-md flex justify-center mt-4 p-4 shadow-md hover:bg-blue-100 hover:shadow-lg transition-all cursor-pointer text-center"
      (click)="handleAdminClick(admin)"
    >
      <strong class="text-lg">{{
        admin.firstname + " " + admin.lastname
      }}</strong>
    </li>
  </ul>
  <ng-template #noResults>
    <p class="text-gray-500">Inga admins hittades.</p>
  </ng-template>
</div>
