body{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
  }
  p {
    display: grid;
    place-content: center;
    margin-top: 5rem;
    font-size: 2rem
  }
  ul {
    display: grid;
    place-content: center;
    margin-top: 5rem;
    font-size: 2rem;
  }
  li {
    background-color: white;
    padding: 3rem;
    width: 100%;
    height: 5rem;
  }
  