<div class="flex justify-center items-center min-h-screen fin-bakgrund">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm text-center mt-[-20rem]">
        <div *ngIf="!success">
            <h2 class="text-2xl mb-4 text-mainColor font-bold">Glömt Lösenord</h2>
            <p class="mb-4" *ngIf="!emailNotFound">Ange din e-postadress så skickar vi en länk att för nollställa ditt lösenord</p>
            <p class="mt-4 mb-8" *ngIf="emailNotFound">E-posten du angav kunde inte hittas</p>
            <p class="mt-4 mb-8" *ngIf="unknownError">Det blev något fel, kontakta administratör</p>
        </div>
        <div *ngIf="success">
            <h2 class="text-2xl mb-4 text-mainColor">Länk skickad</h2>
            <p class="mb-4">Vi har skickat en länk för att nollställa ditt lösenord, kontrollera din skräppost</p>
        </div>
      <form (ngSubmit)="forgotPassword()">
        <input type="email" placeholder="Din e-postadress" [(ngModel)]="email" name="email" required class="w-full p-2 mb-4 border rounded-md"/>
        <button type="submit" class="w-full font-bold bg-mainColor text-white p-2 rounded-md hover:bg-mainColorHover" *ngIf="!success">Skicka länk</button>
        <div class="bg-green-600 w-full flex justify-center rounded-md" *ngIf="success"> 
          <p class="text-white1 font-bold py-2 px-4">Vi har skickat en länk</p>
      </div>  
      </form>
    </div>
</div>
