<div class="flex flex-wrap justify-center">
    <div class="w-11/12 sm:w-3/4 mt-4">
      <div class="w-full flex flex-wrap sm:flex-nowrap justify-between items-center">
        <h2 class="bg-h2Color p-4 sm:w-2/3 w-full md:w-1/2 lg:w-1/3 shadow-b-lg shadow-[0_12px_12px_rgba(255,255,255,0.25)] text-white1 text-center text-2xl sm:text-2xl md:text-3xl sm:p-5 md:p-7 font-semibold">
          Gamla poängtavlor:
        </h2>
        <input type="text" class="p-2 h-12 border border-gray-300 rounded w-full sm:w-[11rem] sm:ml-3 mt-4 sm:mt-0" placeholder="Filtrera poängtavlor..." [(ngModel)]="query" (input)="filterScoreboards()"/>
      </div>
      
      <div class="bg-white/20 backdrop-blur-lg p-4 rounded-lg shadow-lg border border-gray-300 mt-4 mb-8">
        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">
          <li class="rounded-sm" *ngFor="let scoreboard of filteredScoreboards">
            <a [routerLink]="['/scoreboard/', scoreboard.scoreboardId]">
              <div class="bg-mainColor text-white p-4 rounded-tr-lg rounded-tl-lg text-base sm:text-lg font-semibold text-center transition hover:bg-mainColorHover cursor-pointer">
                <h3 class="font-digital text-base sm:text-lg text-white1 text-center max-w-full break-words">
                  {{ scoreboard.name }}: {{ scoreboard.startedAt | date:'shortDate' }} - {{ scoreboard.endedAt | date:'shortDate'}}
                </h3>
              </div>
              <div class="h-auto bg-white1 rounded-br-lg rounded-bl-lg p-4">
                <p class="text-black text-sm sm:text-md font-bold flex justify-center items-center text-center max-w-full break-words">
                  {{ scoreboard.description }}
                </p>
              </div>
            </a>
          </li>
        </ul>
  
        <div *ngIf="filteredScoreboards.length === 0 && query" class="text-center">
          <p class="font-bold px-12 sm:px-24 py-8 sm:py-12 bg-mainColor text-lg sm:text-xl text-white1 rounded-xl">
            Inga poängtavlor matchar din sökning.
          </p>
        </div>
      </div>
    </div>
  </div>
  